@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: "Poppins", sans-serif;
    /* overflow: hidden; */
}

.heading {
    position: absolute;
    width: 100%;
    height: 576px;
    left: 0px;
    top: 0px;
    background: #f0fff0;
}

.nav {
    display: flex;
}

.logo {
    position: absolute;
    left: 120px;
    top: 15px;
}

#logo {
    height: 40px;
    width: 115px;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 15px;
    left: 56%;
    padding: 10px;
    align-items: center;
}

.menu-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.item {
    padding: 0 20px;
    cursor: pointer;
}

.singin-btn {
    padding: 12px 28px;
    border: none;
    border-radius: 33px;
    background-color: #21b573;
    color: #ffffff;
    margin-top: -6px;
    cursor: pointer;
}

.hero-img {
    position: absolute;
    left: 570px;
    top: 157px;
}

.hero-img img {
    width: 554px;
    height: 346px;
}

.hero-text h6 {
    position: absolute;
    left: 100px;
    top: 160px;
    width: 188px;
    height: 24px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #fd511a;
}

.big-text {
    width: 405px;
    height: 140px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 70px;
    /* or 146% */
    color: #000000;
}

.first {
    position: absolute;
    left: 96px;
    top: 180px;
}

.second {
    position: absolute;
    left: 96px;
    top: 235px;
}

.second span {
    color: #21b573;
}

.hero-para {
    position: absolute;
    width: 403px;
    height: 85px;
    left: 96px;
    top: 320px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 36px;
    color: #6c6b6b;
}

.getstart-btn {
    padding: 12px 36px;
    position: absolute;
    /* width: 153px; */
    height: 43px;
    left: 96px;
    top: 420px;
    background: #21b573;
    border: none;
    border-radius: 33px;
    cursor: pointer;
    color: #ffffff;
}

.card {
    cursor: pointer;
}

.card1 {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 96px;
    top: 618px;
    background: #f8fffb;
    border-radius: 10px;
}

.card2 {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 370px;
    top: 618px;
    background: #f8fffb;
    border-radius: 10px;
}

.card3 {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 645px;
    top: 618px;
    background: #f8fffb;
    border-radius: 10px;
}

.card4 {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 919px;
    top: 618px;
    background: #f8fffb;
    border-radius: 10px;
}

.card img {
    width: 66px;
    height: 85px;
    position: relative;
    top: 50px;
    left: 100px;
}

.card h2 {
    position: relative;
    top: 70px;
    left: 60px;
    height: 36px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    color: #413960;
}

.card p {
    position: relative;
    top: 70px;
    left: 70px;
    width: 128px;
    height: 24px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    color: #585859;
}

.card2 h2 {
    left: 40px;
}

.card3 h2 {
    left: 40px;
}

.card4 h2 {
    left: 40px;
}

.card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.308);
}